
#dice{
    width: 100px;
    padding: 5px;
}

.diceTable {
    margin: auto;
    padding-top: 40px;
}

#result{
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 48px;
    width: 500px;
    height: 40px;
}

/*the code below is planned to add animation to the dice and result*/
.diceEffects {
    background-color: #0f0;
    color: #0f0;
    -webkit-animation-name: growShrink;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes growShrink {
    0%, 100% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(2);
    }
}